#app {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icons-con {
    display: flex;
    gap: 50px;
    flex-direction: column;
}

.icons-con > div {
    display: flex;
    justify-content: space-between;
}

.hidden {
    visibility:hidden;
}

.icons {
    width: 8vw;
    min-width: 80px;
}